In [ ]:
import sqlite3

# Connect to the SQLite database
connection = sqlite3.connect('PEP1_db.db')

# Create a cursor object
cursor = connection.cursor()

# Execute a simple query to fetch data from 'restaurant_table'
cursor.execute('SELECT * FROM restaurant_table')

# Fetch all rows
rows = cursor.fetchall()

# Print the data
for row in rows:
    print(row)

# Close the connection
connection.close()

In [3]:
import pandas as pd
from sqlalchemy import create_engine

# SQLite database connection string
engine = create_engine('sqlite:///PEP1_db.db')

# Replace 'restaurant_table' with your table name
table_name = 'orders'

# Query the data from the database into a DataFrame
query = f'SELECT * FROM {table_name}'
orders_df = pd.read_sql(query, con=engine)

table_name = 'CreditCards'
query = f'SELECT * FROM {table_name}'
CC_df = pd.read_sql(query, con=engine)

CC_df

,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code
0,06/31,2269172571677458,Diners Club / Carte Blanche,338
1,03/24,2523870337522643,Diners Club / Carte Blanche,281
2,08/28,630495016804,Discover,4056
3,04/33,4234465830748237,Mastercard,497
4,09/26,378189204316512,American Express,206
...,...,...,...,...
10001,06/25,213105167494301,VISA 16 digit,252
10002,11/30,4011981090951526,JCB 16 digit,849
10003,11/30,4011981090951526,JCB 16 digit,849
10004,04/24,6595168672629675,JCB 16 digit,113
10005,05/25,4999092953838318200,Diners Club / Carte Blanche,810