In [60]:
import yaml
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'validate_email'

In [2]:

with open('customer_demographics.yaml', 'r') as yaml_file:
    yaml_data = yaml.safe_load(yaml_file)

# Create a list of dictionaries with the desired column names
data_list = []
for customer_id, details in yaml_data.items():
    data_list.append({
        'address': details.get('address'),
        'city': details.get('city'),
        'credit_card_expires': details.get('credit_card_expires'),
        'credit_card_number': details.get('credit_card_number'),
        'credit_card_provider': details.get('credit_card_provider'),
        'credit_card_security_code': details.get('credit_card_security_code'),
        'customer_id': details.get('customer_id'),
        'email': details.get('email'),
        'name': details.get('name'),
        'phone_number': details.get('phone_number'),
        'state': details.get('state'),
        'zip_code': details.get('zip_code'),
    })

In [ ]:
cust_demo_df = pd.DataFrame(data_list)

cust_demo_df

In [8]:
orders = pd.read_csv("orders.csv")
cust_stat = pd.read_csv("customer_statistics.csv")

In [9]:
orders_df = pd.DataFrame(orders)
cust_stat_df = pd.DataFrame(cust_stat)

In [48]:
orders_df

,order_id,customer_id,items,aperitifs,appetizers,entrees,desserts,total
0,f1d6b4c4-0f9f-4ba6-8d5d-f7e4ef7cd9a0,2652,7,Aperol Spritz,Pate,Pork,Tiramisu,751.87
1,7b8a732e-85a0-4fa2-b282-a2d232ee182e,1756,3,Sherry,Pate,Pasta,Cheesecake,156.43
2,1eab436d-2acb-4bc8-b849-fbce859ffd8a,2989,5,Bellini,Pate,Lobster,Chocolate Cake,364.13
3,d6313392-8901-42f6-bf8a-4805fe816a46,9903,3,Sherry,Salad,Pizza,Cheesecake,805.62
4,f73f8c45-28c2-473f-a3ba-e65ed5890ac6,8627,2,Port,Pate,Lobster,Pie,638.43
...,...,...,...,...,...,...,...,...
9995,bc3dd6ac-88e3-4978-8364-c047fcf44db2,5355,2,Port,Oysters,Vegetarian,Cookies,466.83
9996,7115ef6e-f8ab-4847-856a-3463d98618d5,4452,7,Port,Escargot,Lobster,Pie,311.93
9997,b03408a5-e879-420d-b3dd-2b0efa1bee17,2982,6,Port,Foie Gras,Vegetarian,Ice Cream,315.54
9998,8d611f13-8886-48a1-9805-30beeab154d9,5106,4,Vermouth,Crudites,Pasta,Sorbet,131.74
9999,8cd6ca0b-6918-487f-87f7-0426992b6418,7570,5,Champagne,Cheese Plate,Fish,Creme Brulee,916.85

In [ ]:
cust_stat_df

In [ ]:
merge_data = orders.merge(orders_df, left_on='order_id', right_on = "customer_id")
merge_data

In [ ]:
null_count_stat = pd.isnull(cust_stat_df).sum()
null_count_stat

In [ ]:
null_count_order = pd.isnull(orders_df).sum()
null_count_order

In [55]:
null_count_demo = pd.isnull(cust_demo_df).sum()
null_count_demo

address                       491
city                          491
credit_card_expires           453
credit_card_number            453
credit_card_provider          453
credit_card_security_code     453
customer_id                     0
email                        1013
name                            0
phone_number                 2022
state                         491
zip_code                      491
dtype: int64

In [ ]:
cust_demo_df[cust_demo_df.isnull().any(axis=1)]

In [57]:
cust_demo_df

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id,email,name,phone_number,state,zip_code
0,621 Chavez Ramp Suite 938,West Deniseport,06/31,2269172571677458,Diners Club / Carte Blanche,338,a8c966a0-b670-4044-826c-0e6bfe708259,brett00@example.com,Ronald Rodgers,None,New York,59237
1,592 Mccoy River,Port Dannymouth,11/24,676320507830,JCB 16 digit,246,56b850e0-9320-4aa0-8cd4-d1199903c90e,smithjennifer@example.net,Mary Mitchell,None,Montana,17401
2,8923 Aaron Turnpike,Port Rhondaton,11/31,4607779976715144588,JCB 16 digit,869,5ec9f613-adb1-4e69-8a1a-9530cb777886,twhite@example.net,Nathan Wells,+1-893-568-2182x593,North Dakota,07166
3,496 Margaret Shoals,Smithborough,04/33,4234465830748237,Mastercard,497,ca182662-b281-433a-a82b-8e061f7bf2cd,nguyenjennifer@example.com,Kelly Ramos,820-824-2003,Iowa,42755
4,0807 Logan Fords Suite 355,Contrerasside,10/25,4985681645741,Discover,927,1e7c3a60-4788-4711-809f-b6f8bfbdb18a,michaelabarr@example.net,Rebekah Fitzgerald,+1-269-384-1623x34240,Connecticut,64282
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,419 Lopez Crossing,North Nicolechester,01/30,639083591672,VISA 13 digit,079,0707f817-5018-4060-b01c-2c5b53374a2e,andrewrogers@example.net,Tracey Edwards,001-555-466-6738x7224,Alabama,15476
9996,38594 Franklin Pine,Port Joshua,01/31,4197551271949528,VISA 13 digit,237,abc92c1c-788c-4e61-a40d-c6754c99bdc7,sduncan@example.com,Ashley Peterson,(434)761-1066,New Jersey,58035
9997,535 Kimberly Station Apt. 546,Garzaville,07/24,36597049683777,VISA 16 digit,287,418cc301-e111-4080-b8f7-8d9f1d9dc304,rhatfield@example.net,Sandra Baldwin MD,867.829.9891x64114,Connecticut,16016
9998,35316 Becky Terrace,Port Donald,04/24,6595168672629675,JCB 16 digit,113,7caf0251-8040-4c1e-8190-46133fde16ab,andreawilliams@example.org,Karen Green,None,Nevada,97426
9999,6101 Thompson Ridges Apt. 896,Marissamouth,05/25,4999092953838318200,Diners Club / Carte Blanche,810,3b343ad7-9d47-43c6-98d7-8a1c0bfebf12,anthonykemp@example.net,Marissa Garrett,None,Nevada,22202

In [ ]:

cc_number_nulls = cust_demo_df.loc[cust_demo_df['credit_card_number'].isin([np.NaN, None])]
cc_number_nulls

In [ ]:
address_nulls = cust_demo_df.loc[cust_demo_df['address'].isin([np.NaN, None])]
address_nulls

In [54]:
email_nulls = cust_demo_df.loc[cust_demo_df['email'].isin([np.NaN, None])]
email_nulls

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id,email,name,phone_number,state,zip_code
25,869 Stephen Prairie Suite 679,New Sherri,08/31,630420755880,VISA 13 digit,141,f4966264-2f44-401c-9ddc-57e68d054897,None,Jamie Pham,None,Louisiana,32276
39,None,None,09/31,4670744779131736155,JCB 15 digit,396,d395c142-eb7b-4bc6-ba2d-f80741d65f81,None,Christine Berger,001-888-684-5983x18321,None,None
48,61818 Matthew Burgs,Angelamouth,06/32,180007544472845,Mastercard,592,64e06fe2-46cd-4ee3-b1a3-fce55fe2a9a4,None,Zachary Cox MD,(878)527-7128x95634,North Carolina,62281
50,345 Daniels Shore,New Christinabury,02/24,4535322660341026105,Discover,366,febb756d-036c-433b-9985-bd1ffad6ba14,None,Seth Curry,730-812-7028,Pennsylvania,07858
51,34642 Connor Roads,Philipland,10/33,2265598301907902,VISA 13 digit,4815,9c663012-409b-44d9-818a-9547bb88988b,None,Terry Short,(206)542-8671,New Mexico,34660
...,...,...,...,...,...,...,...,...,...,...,...,...
9972,0612 Teresa Manors,East Laurenton,03/29,213113994343329,Mastercard,242,81d41f7d-498f-489f-8b90-4008ee2de6a8,None,Karla Rogers,609-362-9872,Nebraska,74366
9975,9622 Mitchell Forks Apt. 500,West Katherineburgh,10/24,3573953443784476,American Express,132,9e45d985-2eb9-408b-a043-e43df46e2ab5,None,Tara Wilson,862-425-3311,Utah,85407
9990,909 David Mission Suite 354,South Christopher,06/25,213105167494301,VISA 16 digit,252,09ac1785-ef58-4def-8743-d59cb3cb13e2,None,Valerie Herman,+1-347-571-5809,Kansas,10865
9991,3723 Carr Lake Apt. 022,Kaylaview,10/31,6011178270385113,Maestro,435,bf27a877-db10-4dd4-b467-e005ec738468,None,Zachary Murray,847-844-0425,Kentucky,44173
9993,45292 Amy Stream,Martinezland,11/30,4011981090951526,JCB 16 digit,849,12f10986-8ece-46d5-b853-1fcb7cbc270d,None,Gabrielle Carter,001-816-334-9707,Vermont,65616

In [ ]:
phone_nulls = cust_demo_df.loc[cust_demo_df['phone_number'].isin([None])]
phone_nulls

In [73]:
rslt_df = orders.sort_values(by = 'items')
rslt_df.head()

,order_id,customer_id,items,aperitifs,appetizers,entrees,desserts,total
3339,52d82489-a76a-4ee9-bed3-a081da7410f9,317,10,Kir Royale,Foie Gras,Fish,Tiramisu,896.30
3341,ba51275f-1ab3-43ac-8764-e664b195f868,9637,10,Champagne,Charcuterie,Lobster,Tiramisu,558.04
8176,9f036c3e-bb04-42a3-9368-985a055db110,1922,10,Americano,Soup,Vegetarian,Pie,642.12
3237,56d66204-02ee-4b9c-bc60-daec2f036be7,685,10,Champagne,Oysters,Lobster,Pie,444.16
3263,3a2a20ed-162b-4b96-af43-8fdbb0cf16ec,7595,10,Sherry,Foie Gras,Pasta,Pudding,255.36

In [74]:
rslt_df.iloc[-5:]

,order_id,customer_id,items,aperitifs,appetizers,entrees,desserts,total
3339,52d82489-a76a-4ee9-bed3-a081da7410f9,317,10,Kir Royale,Foie Gras,Fish,Tiramisu,896.30
3341,ba51275f-1ab3-43ac-8764-e664b195f868,9637,10,Champagne,Charcuterie,Lobster,Tiramisu,558.04
8176,9f036c3e-bb04-42a3-9368-985a055db110,1922,10,Americano,Soup,Vegetarian,Pie,642.12
3237,56d66204-02ee-4b9c-bc60-daec2f036be7,685,10,Champagne,Oysters,Lobster,Pie,444.16
3263,3a2a20ed-162b-4b96-af43-8fdbb0cf16ec,7595,10,Sherry,Foie Gras,Pasta,Pudding,255.36

In [51]:
rslt_df = orders.sort_values(by = 'total') 
rslt_df.head()

,order_id,customer_id,items,aperitifs,appetizers,entrees,desserts,total
7721,0a413ba9-3deb-4116-952f-547675f741a8,3644,8,Sherry,Soup,Steak,Chocolate,100.06
3063,3da1ec34-aa6a-4456-92f1-ce0b3e4b2a2b,9726,10,Kir,Crudites,Vegetarian,Cobbler,100.15
1280,268b0a2d-30f7-42c2-9faf-1d1edd25c2f5,919,2,Negroni,Escargot,Fish,Chocolate,100.20
5655,a8f44d90-372f-403a-89c3-1d6c0a402237,8784,4,Bellini,Oysters,Burger,Creme Brulee,100.33
3099,a89c6ab4-fa59-4b81-99fb-cd599c620c1e,9452,7,Sherry,Charcuterie,Vegetarian,Pudding,100.34

In [53]:
rslt_df.iloc[-5:]

,order_id,customer_id,items,aperitifs,appetizers,entrees,desserts,total
8957,39c0c0fd-71d5-4e45-b27a-4c03928afa16,4296,5,Americano,Crudites,Lobster,Creme Brulee,999.57
7629,7b76661a-ea86-4d38-ab28-0421ad7c907c,4359,6,Negroni,Salad,Lamb,Cobbler,999.64
2745,2e3ccc7d-db48-46e9-ac06-ad4858d8f5ba,5391,4,Sherry,Pate,Pasta,Cheesecake,999.81
5775,e93dea4f-949d-4281-b112-05cc4f73cf8d,965,7,Campari and Soda,Soup,Fish,Creme Brulee,999.84
6644,b91fee9d-76c4-4692-b862-93eab6b77a6d,9416,3,Negroni,Pate,Lobster,Tiramisu,999.97

In [76]:
cust_email = cust_demo_df["email"].str.match(r"^.+@.+\..{2,}$")

for i in cust_email:
    if i == False:
        print (i)