In [2]:
import yaml
import numpy as np
import pandas as pd

In [3]:

with open('customer_demographics.yaml', 'r') as yaml_file:
    yaml_data = yaml.safe_load(yaml_file)

# Create a list of dictionaries with the desired column names
data_list = []
for customer_id, details in yaml_data.items():
    data_list.append({
        'address': details.get('address'),
        'city': details.get('city'),
        'credit_card_expires': details.get('credit_card_expires'),
        'credit_card_number': details.get('credit_card_number'),
        'credit_card_provider': details.get('credit_card_provider'),
        'credit_card_security_code': details.get('credit_card_security_code'),
        'customer_id': details.get('customer_id'),
        'email': details.get('email'),
        'name': details.get('name'),
        'phone_number': details.get('phone_number'),
        'state': details.get('state'),
        'zip_code': details.get('zip_code'),
    })

In [112]:
#Creating a dataframe from the customer demographics dictionary

cust_demo_df = pd.DataFrame(data_list)

# cust_demo_df
count=0

cust_duplicate = cust_demo_df.duplicated(subset=['customer_id'])

for x in cust_duplicate:
    if x == True:
        count +=1

print(count)

0

In [94]:
#Reading the .csv files for data analysis

orders = pd.read_csv("orders.csv")
cust_stat = pd.read_csv("customer_statistics.csv")

                                order_id  customer_id  items      aperitifs  \
0   f1d6b4c4-0f9f-4ba6-8d5d-f7e4ef7cd9a0         2652      7  Aperol Spritz
1   7b8a732e-85a0-4fa2-b282-a2d232ee182e         1756      3         Sherry
2   1eab436d-2acb-4bc8-b849-fbce859ffd8a         2989      5        Bellini
3   d6313392-8901-42f6-bf8a-4805fe816a46         9903      3         Sherry
5   ff5d6856-7369-459c-a090-997c72578eeb         2323     10     Kir Royale
6   92ff5f6a-f745-408b-9efc-2d0d4b678de8         1837      6         Sherry
8   3fd6ad7c-241c-43a8-864d-bb6604ccaaf7         9977      9         Sherry
11  45f22cbd-8d5e-4812-9983-408490e4ad92         4593      2           Port
13  b9a20203-edda-4241-819f-417cfb7a98a3         8427     10            Kir
16  ce0099c4-bd9d-4e02-ba91-194062149332           23      7           Port
25  d9448c89-1469-4436-92ba-f077e5f2a914         6973      6        Bellini

       appetizers     entrees        desserts   total
0            Pate        Pork        Tiramisu  751.87
1            Pate       Pasta      Cheesecake  156.43
2            Pate     Lobster  Chocolate Cake  364.13
3           Salad       Pizza      Cheesecake  805.62
5   Smoked Salmon        Lamb         Cookies  936.35
6    Cheese Plate  Vegetarian      Cheesecake  827.50
8           Salad       Steak          Sorbet  423.60
11           Pate        Fish      Cheesecake  792.42
13       Crudites      Burger       Chocolate  272.24
16           Soup        Duck        Tiramisu  410.09
25        Oysters     Chicken          Sorbet  667.16

In [95]:
#Creating dataframs from the csv files

orders_df = pd.DataFrame(orders)
cust_stat_df = pd.DataFrame(cust_stat)

duplicate_in_orders = orders_df.duplicated(subset=['entrees'])

if duplicate_in_orders.any():
    print(orders_df.loc[~duplicate_in_orders], end='\n\n')

                                order_id  customer_id  items      aperitifs  \
0   f1d6b4c4-0f9f-4ba6-8d5d-f7e4ef7cd9a0         2652      7  Aperol Spritz
1   7b8a732e-85a0-4fa2-b282-a2d232ee182e         1756      3         Sherry
2   1eab436d-2acb-4bc8-b849-fbce859ffd8a         2989      5        Bellini
3   d6313392-8901-42f6-bf8a-4805fe816a46         9903      3         Sherry
5   ff5d6856-7369-459c-a090-997c72578eeb         2323     10     Kir Royale
6   92ff5f6a-f745-408b-9efc-2d0d4b678de8         1837      6         Sherry
8   3fd6ad7c-241c-43a8-864d-bb6604ccaaf7         9977      9         Sherry
11  45f22cbd-8d5e-4812-9983-408490e4ad92         4593      2           Port
13  b9a20203-edda-4241-819f-417cfb7a98a3         8427     10            Kir
16  ce0099c4-bd9d-4e02-ba91-194062149332           23      7           Port
25  d9448c89-1469-4436-92ba-f077e5f2a914         6973      6        Bellini

       appetizers     entrees        desserts   total
0            Pate        Pork        Tiramisu  751.87
1            Pate       Pasta      Cheesecake  156.43
2            Pate     Lobster  Chocolate Cake  364.13
3           Salad       Pizza      Cheesecake  805.62
5   Smoked Salmon        Lamb         Cookies  936.35
6    Cheese Plate  Vegetarian      Cheesecake  827.50
8           Salad       Steak          Sorbet  423.60
11           Pate        Fish      Cheesecake  792.42
13       Crudites      Burger       Chocolate  272.24
16           Soup        Duck        Tiramisu  410.09
25        Oysters     Chicken          Sorbet  667.16

In [42]:
#Checking for NULL values in the customer stats dataframe
#RESULT: No NULLS were found

pd.isnull(cust_stat_df).sum()

customer_id     0
total_orders    0
total_items     0
total_spent     0
dtype: int64

In [ ]:
#Checking for NULL values in the orders dataframe
#RESULT: NONE were found.

pd.isnull(orders_df).sum()

In [ ]:
#Checking for NULL values in the customer demographics dataframe
#RESULT: Found multiple NULLS for address, credit card, email, and phone

null_count_demo = pd.isnull(cust_demo_df).sum()
null_count_demo

In [109]:
#Displaying all records that contain NULL values
#RESULT: There are a total of 3513 records with NULL values

cust_demo_df[cust_demo_df.isnull().any(axis=1)]

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id,email,name,phone_number,state,zip_code
0,621 Chavez Ramp Suite 938,West Deniseport,06/31,2269172571677458,Diners Club / Carte Blanche,338,a8c966a0-b670-4044-826c-0e6bfe708259,brett00@example.com,Ronald Rodgers,None,New York,59237
1,592 Mccoy River,Port Dannymouth,11/24,676320507830,JCB 16 digit,246,56b850e0-9320-4aa0-8cd4-d1199903c90e,smithjennifer@example.net,Mary Mitchell,None,Montana,17401
6,349 Martinez Turnpike,Port Mikaylashire,11/24,2364648842479646,Discover,155,6c84a42c-895d-4c26-8db7-99e0e01ddb6f,quinnrachael@example.net,Paul Reed,None,New Hampshire,63162
14,75490 Lisa Hollow Apt. 471,North Traciton,04/33,3575461165129191,Mastercard,808,74fb06eb-bff1-48c5-be74-414cb148522a,garciadonald@example.net,Cassandra Long,None,Tennessee,56838
16,071 Michael Keys Apt. 335,North Katelyn,03/24,3548928942320537,Mastercard,998,0a05bb69-0f3e-4b3a-9260-f63523113dae,christine22@example.net,Roger Randall,None,Arizona,01048
...,...,...,...,...,...,...,...,...,...,...,...,...
9990,909 David Mission Suite 354,South Christopher,06/25,213105167494301,VISA 16 digit,252,09ac1785-ef58-4def-8743-d59cb3cb13e2,None,Valerie Herman,+1-347-571-5809,Kansas,10865
9991,3723 Carr Lake Apt. 022,Kaylaview,10/31,6011178270385113,Maestro,435,bf27a877-db10-4dd4-b467-e005ec738468,None,Zachary Murray,847-844-0425,Kentucky,44173
9993,45292 Amy Stream,Martinezland,11/30,4011981090951526,JCB 16 digit,849,12f10986-8ece-46d5-b853-1fcb7cbc270d,None,Gabrielle Carter,001-816-334-9707,Vermont,65616
9998,35316 Becky Terrace,Port Donald,04/24,6595168672629675,JCB 16 digit,113,7caf0251-8040-4c1e-8190-46133fde16ab,andreawilliams@example.org,Karen Green,None,Nevada,97426
9999,6101 Thompson Ridges Apt. 896,Marissamouth,05/25,4999092953838318200,Diners Club / Carte Blanche,810,3b343ad7-9d47-43c6-98d7-8a1c0bfebf12,anthonykemp@example.net,Marissa Garrett,None,Nevada,22202

In [ ]:
#Displaying all records with NULL CREDIT CARD NUMBERS

# cc_number_nulls = cust_demo_df.loc[cust_demo_df['credit_card_number'].isin([None])]
# cc_number_nulls

pd.Series(cust_demo_df.customer_id.isin(orders_df.order_id).values.astype(int), cust_demo_df.customer_id.values)

In [ ]:
#displaying all records with NULL values for the ADDRESS columns

address_nulls = cust_demo_df.loc[cust_demo_df['address'].isin([None])]
address_nulls

In [ ]:
#Display records with NULL values in the EMAIL column

email_nulls = cust_demo_df.loc[cust_demo_df['email'].isin([None])]
email_nulls

In [ ]:
#Display records with NULL values in the phone number column

phone_nulls = cust_demo_df.loc[cust_demo_df['phone_number'].isin([None])]
phone_nulls

In [ ]:
#checking for any outlier in the items column. Item count of ZERO should be considered in error. 
#RESULT: No items found less than ONE.

rslt_df = orders.sort_values(by = 'items')
rslt_df.head()

In [ ]:
#checking for ouliers of amounts considered too great for item count.
#RESULT: No items found greater than TEN.

rslt_df.iloc[-5:]

In [ ]:
#checking for total values that don't fit the expectation of the data
#RESULT: No totals found less than $100, which is in tolerance

rslt_df = orders.sort_values(by = 'total') 
rslt_df.head()

In [ ]:
#checking for totals that would exceed expected amount
#RESULT: No totals found greater than $1000, which is in tolerance

rslt_df.iloc[-5:]

In [53]:
#cheking the number of invalid email entries against NULL values
#RESULT: All emails that are entered are in proper format

cust_email = cust_demo_df["email"].str.match(r"^.+@.+\..{2,}$")
count1=0
count=0
for i in cust_email:
    if i == True:
        count +=1
    else:
        count1 +=1  

       
email_null_count = pd.isnull(cust_demo_df['email']).sum()
print(f'There are {count} emails that are valid')
print(f"There are {email_null_count} emails with NULL values")
print(f"There are {count1 - email_null_count} *NON NULL* emails that aren't valid")

There are 8987 emails that are valid
There are 1013 emails with NULL values
There are 0 *NON NULL* emails that aren't valid

In [ ]:
multi_null = cust_demo_df[cust_demo_df['address'].isnull() & cust_demo_df['credit_card_number'].isnull() & cust_demo_df['phone_number'].isnull()]
multi_null

multi_null_df = pd.DataFrame(multi_null)
multi_null_df

In [ ]:
multi_null_df = multi_null_df.rename(columns={"customer_id" : "order_id?"})

multi_null_df = multi_null_df.rename_axis('customer_id')

multi_null_df

In [57]:
print(multi_null_df.index)

Index([6646, 6697], dtype='int64', name='customer_id')

In [59]:
multi_rslt = multi_null_df.index.isin(orders.customer_id)

multi_rslt

array([ True,  True])

In [73]:
duplicate_orders = orders_df.duplicated().any()

duplicate_orders

False

In [116]:
duplicate = orders_df['order_id'].duplicated().any()

duplicate

False

In [ ]:

    credit_card_id datatype,
    column2 datatype,
    column3 datatype,
   ....
);